.App {
    text-align: center;
    background-color: rgb(88, 197, 184);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
 
.label {
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
}
 
.input {
    font-size: larger;
    padding: 5px;
    margin: 2px;
 
}
 
.btn {
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
}
 
.messages {
    display: flex;
    justify-content: center;
}
 
.error {
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
}
 
.success {
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
}
